@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Добро пожаловать на VolgaITApp5</h1>
    @if (HttpContext.User.Identity.IsAuthenticated)
    {
        <p>Apps created: @Model.appsCount</p>
    }
</div>

